@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:white;
  overflow-y: scroll;
}
nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  
}
.logo{
  display: flex;
}
 .logo img{
  width: 45px;
  height: 45px;
  margin-top: 6px;
.logo p{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
}
  
  
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
  
  
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.main{
  display: flex;
  flex-direction: column;
}
.content{
  
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  width:auto;
  height: auto;
  
  border-bottom: 1px solid white;
  box-shadow: 0 0 6px 4px  rgba(0,0,0,.2);
}



.headerleft{
  width: 100vh;
  height:75vh ;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:	rgb(244, 216, 220);
  
}
.headerright{
  width: 50vh;
  height: 75vh;
  background-color:rgb(244, 216, 220);
}
.headerright img{
  width: 49vh;
  height:75vh;
  padding-right: 1vh;
}
.songs{
  align-items: center;
  justify-content: center;
  width:75vh ;
  height: 60vh;
  overflow-y : scroll;
  overflow-x : hidden;
  border: 1px solid wheat;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px 2px white;
  
}


.song {
  
  width: 72vh;
  height: 5vh;
  background-color: rgb(226, 172, 124);
  border: 1px solid wheat;
  border-radius: 12px;
  box-shadow: 2px 2px 0 0 white;
  padding-left: 12px;
  margin-top: 6px;
  color: #1e1411;
  display: flex;
  justify-content: space-between;
  
  
}
.song img{
  width: 8vh;
  height: 5vh;
  border: 1px solid wheat;
  border-radius: 50%;
  align-items: left;
}
.song span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 200;
}
.rangeimg{
  width: 75vh;
  display: flex;
  justify-content: space-between;
  background-color:rgb(235, 160, 160);
  border-radius: 8px;
  
}
.rangeimg img{
  
  width: 8vh;
  height: 5vh;
  margin-top: 11px;
  padding-left: 5px;
  padding-right: 5px;
  
 
}
.songrange{
  width: 50vh;
  height: 8vh;
  background-color:rgb(235, 160, 160);
  border: 1px solid wheat;
  border-radius: 12px;
  padding-left: 12px;
  margin-top: 6px;
  color: #231612;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 4px  rgba(236, 218, 218, 0.2);

}
.icons i{
  padding-left: 15px;
}
.top2023{
  background-color: rgb(239, 163, 188);

  display: flex;
  height: 75vh;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y : scroll;
  overflow-x : hidden;
}
.t3{
  width: 20vh;
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgb(103, 79, 79);
}
.t3 img{
  width: 15vh;
  height: 15vh;

}
.t3 audio{
  width: 15vh;
}




.footer {
  background-color: rgb(102, 89, 89);
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ft{
  padding-left: 25px;

}
.socialpages a{
  text-decoration: none;
  color: #f2f2f2;
}
.socialpages a:hover{
  cursor: pointer;
  background-color: red;
}
.skills{
  padding-right: 25px;
}
@media only screen and (max-width: 850px) {
  .content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    margin-top: 5px;
    
  }

  .song,.rangeimg,.songrange,.headerright,.headerright img{
    width: 95vh;
  }

}
@media only screen and (max-width: 850px) {
  .footer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}
@media only screen and (max-width: 850px){
  .songs{
    width: 100vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}


